:root {
    --primary-color : #8EC5FC;
}

*, 
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 59%, #ffffff 98%);
}

.container {
    padding: 120px;
}

.container .btn {
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 8px;
    background-color: #7d48af;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

i {
    padding-right: 10px;
}

.icon {
    color: #7d48af;

}
/* .container-notes {
    position: relative;
} */

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 30vh;
    background-color: azure;
    margin-top: 40px;
}

 .trash {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
