*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number-label {
    display: block;
    font-size: 10rem;
    text-align: center;
}

.container {
    text-align: center;
}

.btn {
    /* margin: 0.75rem 0; */
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
