/* #5B84B1FF */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FC766AFF;
}

p {
    font-weight: 500;
    font-size: 2rem;
}

span {
    font-size: 1.2rem;
}

.container {
    max-width: 500px;
    height:70vh;
    margin: 30% auto;
    text-align: center;
    background: #5B84B1FF;
}

.quotes {
    height: 40vh;
    padding: 5rem;
    margin: auto;
}

.btn {
    display: inline-block;
    font-size: .75rem;
    padding: .75rem 1rem;
    margin-top: 1rem;
    background: #2563eb;
    color: #ffff;
    border: none;
    opacity: .7;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:1rem;
}

.btn:hover {
    background:#93c5fd;
}

