/* #5B84B1FF */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FC766AFF;
}

p {
    font-weight: 500;
    font-size: 2rem;
}

span {
    font-size: 1.2rem;
}

.container {
   max-width: 500px;
   margin: 30% auto;
   text-align: center;
   background: #5B84B1FF;
}

.quotes {
    height: auto;
    padding: 5rem;
    margin: auto;
}

.btn {
    display: inline-block;
    font-size: .75rem;
    padding: .75rem .25rem;
    margin-top: 1rem;
    background: #b5b5b5;
    color: #ffff;
    border: none;
    opacity: .7;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
   opacity: 1;
}

