:root {
    --first: #E45252;
    --second: rgba(31, 31, 17, 0.81);
    --third: #0B705D;
    --forth: #4052EE;
    --fifth: #F96411;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.container {
    margin: 30px auto;
    width: 500px;
}

.container .color-switcher {
       list-style: none;
       text-align: center;
}

.container .color-switcher li {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
}

.container .color-switcher li:first-child {
    background-color: var(--first);
}

.container .color-switcher li:nth-child(2) {
    background-color: var(--second);
}

.container .color-switcher li:nth-child(3) {
    background-color: var(--third);
}

.container .color-switcher li:nth-child(4) {
    background-color: var(--forth);
}

.container .color-switcher li:nth-child(5) {
    background-color: var(--fifth);
}

.container h3 {
    background-color: var(--first);
}

.container div {
    background-color: var(--first);
    padding: 20px;
    color: #fff;
}
.second .container h3 {
    background-color: var(--second);
}

.second .container div {
    background-color: var(--second);
    padding: 20px;
    color: #fff;
}
.third .container h3 {
    background-color: var(--third);
}

.third .container div {
    background-color: var(--third);
    padding: 20px;
    color: #fff;
}
.forth .container h3 {
    background-color: var(--forth);
}

.forth .container div {
    background-color: var(--forth);
    padding: 20px;
    color: #fff;
}
.fifth .container h3 {
    background-color: var(--fifth);
}

.fifth .container div {
    background-color: var(--fifth);
    padding: 20px;
    color: #fff;
}

