*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* #353550 */

body {
    background: #191931;
}

.container {
   max-width: 400px;
   margin: 20% auto;
   text-align: center;
}

input[type=text],
input[type=text]:focus {
    width: 400px;
    height: 40px;
    border: none;
    color: #fff;
    outline: black;
    background: rgba(173, 172, 172, 0.2);
    border-radius: 5px;
    padding: .375rem .75rem;
}

input::placeholder {
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    color: #afaeae;
}

.form-control {
    margin: 30px auto;
}


.todos {
    display: flex;
    flex-direction: column;
 }

.todos li {
    display: flex;
    justify-content: space-between;
    background: #595b83;
    width: 100%;
    padding: .75rem 1.25rem;
    border-bottom: 1px solid #191931;
}

.delete {
    cursor: pointer;
}




