* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#222629;
}

.conatiner {
    height: auto;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    background:  #686e70;
}

input {
    width: 60%;
    padding: 15px;
    margin: 50px auto;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}


.btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
}




